/*-----------------universal selector--------------------*/

* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    background: rgba(245, 248, 255, 1);
}


/* -----------Font ------*/
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Styles */
.container {
    max-width: 1350px;
    margin: 0 auto;
}

.gray-color {
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: rgba(233, 90, 8, 1);
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 90px;
    color: rgba(255, 255, 255, 1);
    border: 0px;
}


.common-color {
    color: rgba(233, 90, 8, 1);
}

/* -------header ----------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.items {

    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
}

.items a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
    ;

}

#bold {
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    ;
}

#bold-btn {
    color: rgba(0, 0, 0, 1);
    outline: none;
    border: none;

}

.hero-flower {
    margin-top: 115px;
    display: flex;
}

.hero-flower-text {
    margin-top: 162px;

}

.alwayes {
    font-size: 4.25rem;
    font-weight: 700;
}

.alwayes p {
    text-align: left;
    margin-top: 13px;
}

#hero-img {
    margin-left: 265px;
}

/*----------- Header Section End---------------*/


/*-------Our Plants ----*/
.plants h2 {
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
}

.plants p {
    text-align: center;
    margin-top: 16px;
}

.flower-category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 49px;

}

.flower-section {
    align-items: center;
    text-align: center;
    margin: 20px;
}

.flower-name {
    padding: 14px 25.5px;
}

.flower-price {
    margin-bottom: 18px;
}