/*-----------------universal selector--------------------*/

* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    background: rgba(245, 248, 255, 1);
}

.none {
    display: none;
}

/* -----------Font ------*/
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Styles */
.container {
    max-width: 1350px;
    margin: 0 auto;
}

.gray-color {
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: rgba(233, 90, 8, 1);
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 90px;
    color: rgba(255, 255, 255, 1);
    border: 0px;
}


.common-color {
    color: rgba(233, 90, 8, 1);
}

/* -------header ----------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.items {

    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
}

.items a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
    ;

}

#bold {
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    ;
}

#bold-btn {
    color: rgba(0, 0, 0, 1);
    outline: none;
    border: none;

}

.hero-flower {
    margin-top: 50px;
    display: flex;
}


.hero-flower-text {
    max-width: 1140px;
    margin-top: 162px;
    margin: 162px auto 0px auto;

}

.alwayes {
    font-size: 4.25rem;
    font-weight: 700;
}

.alwayes p {
    text-align: left;
    margin-top: 13px;
}

#hero-img {
    margin-left: 265px;
}

/*----------- Header Section End---------------*/


/*-------Our Plants ----*/
.plants h2 {
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

.plants p {
    text-align: center;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 16px;
}

.hero-img {
    width: 100%;
    margin: 0 auto;
}

.flower-category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.flower-section {
    align-items: center;
    text-align: center;
    margin: 20px;
}

.flower-section img {

    max-width: 270px;
}

.flower-name {
    padding: 14px 25.5px;
}

.flower-price {
    margin-bottom: 18px;
}


/* Flower Planted Lover */
.flower-lover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 16px;
    margin-top: 100px;
}

.flower-trust {
    position: relative;

}



.flower-lover h1 {
    font-size: 3.125rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    max-width: 540px;


}

.flower-lover p {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
    max-width: 540px;

}


/* Least Deal section */
.leastDeal {
   margin-top: 80px;
}

.leastDeal h1 {
    font-size: 3.125rem;
    color: black;
    font-weight: 700px;
    align-items: center;
    text-align: center;
}
.leastDeal span{
    color: rgba(233, 90, 8, 1);
}

.leastDeal p{
     font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
    align-items: center;
    text-align: center;
    /* max-width: 1000px; */
}
/*----Responsive Media Query----------*/

@media screen and (max-width:576px) {
    nav {
        align-items: center;
        margin-top: 24px;
    }

    .items {
        align-items: center;
    }

    .items li {
        display: none;
    }

    .items button {
        margin-right: 16px;
    }

    /*----------Hero section----------*/

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero-flower {
        flex-direction: column-reverse;
    }

    #hero-img {
        margin-left: 0;
        width: 100%;
    }

    .hero-flower-text {
        margin-top: 40px;
        font-size: 1.5rem;
    }

    .hero-flower-text h2 {
        text-align: left;

    }



    /*-------Our Plants ----*/
    .plants h2 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }

    .plants p {
        text-align: center;
        font-size: 14px;
    }

    .flower-category {
        grid-template-columns: repeat(1, 1fr);

    }

    .flower-section img {
        width: 100%;
    }

    /* Flower Planted Lover */
    .flower-lover {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .flowerrr {
        width: 100%;
    }

    .flower-lover h1 {
        font-size: 1.5rem;
        max-width: 270px;


    }

    .flower-lover p {
        font-size: 0,875rem;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 16px;
        max-width: 540px;

    }



}